body{
    margin: 0%;
}

.flex{
    height: 100vh;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    place-content: center;
}

h2{
    background-color: rgb(185, 110, 255);
    border: 1px solid rgba(0, 0, 0, 0.548);
    padding: 20px;
}

.grid{
    margin-top: 40px;
    grid-template-columns: repeat(auto-fit, minmax(150px,auto));
    display: grid;
    gap: 20px;
}

